#Systemd Spool to Klipper Service

[Unit]
Description=Starts spool2klipper
Documentation=https://github.com/psyfiend/spool2klipper
After=moonraker.service
Wants=udev.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=pi
RemainAfterExit=yes
ExecStart= /home/pi/spool2klipper/venv/bin/python3 /home/pi/spool2klipper/spool2klipper.py
Restart=always
RestartSec=10
